<div class="dashboard">
  iFlix
</div>
<mat-card class="card">
  <mat-card-title style="color: rgb(255, 0, 0);text-align: center">Saaho</mat-card-title>
  <img mat-card-image src="../../../assets/Saaho.jpg" alt="Photo of a Saaho">
  <mat-card-content>
    <p>
      A man uses an arsenal of weapons to battle a gang of heavily armed thugs in the city.
      With the city under fire and people's lives at risk, the one man has to give everything
      he has got to take the city back.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="color:red">Available Shows</button>
    <mat-card class="rating">
      <div>
        Rating : 5.8/10
      </div>
    </mat-card>
  </mat-card-actions>


</mat-card>

<mat-card class="card">
  <mat-card-title style="color: rgb(255, 0, 0);text-align: center">Chhichhore</mat-card-title>
  <img mat-card-image src="../../../assets/chhichhore.jpg" alt="Photo of a Saaho">
  <mat-card-content>
    <p>
      Following a group of friends from university as they progress into middle-age life and go their own separate ways.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="color:red">Available Shows</button>
    <mat-card class="rating">
      <div>
        Rating : 8.7/10
      </div>
    </mat-card>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-title style="color: rgb(255, 0, 0);text-align: center">Dream Girl</mat-card-title>
  <img mat-card-image src="../../../assets/dream-girl.jpg" alt="Photo of a Saaho">
  <mat-card-content>
    <p>
      Bollywood rom-com, directed by Raaj Shaanilyaa, stars Ayushmann Khurrana who plays a `dream girl'. In every love
      story, there is always one trying to win the heart of the other, who could be the `dream girl'.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="color:red">Available Shows</button>
    <mat-card class="rating">
      <div>
        Rating : 0/0
      </div>
    </mat-card>
  </mat-card-actions>

</mat-card>

<mat-card class="card">
  <mat-card-title style="color: rgb(255, 0, 0);text-align: center">It Chapter Two</mat-card-title>
  <img mat-card-image src="../../../assets/It-Chapter-Two.jpg" alt="Photo of a Saaho">
  <mat-card-content>
    <p>
      Defeated by members of the Losers' Club, the evil clown Pennywise returns 27 years later to terrorize the town of
      Derry, Maine, once again. Now adults, the childhood friends have long since gone their separate ways. But when
      people start disappearing, Mike Hanlon calls the others home for one final stand. Damaged by scars from the past,
      the united Losers must conquer their deepest fears to destroy the shape-shifting Pennywise -- now more powerful
      than ever.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="color:red">Available Shows</button>
    <mat-card class="rating">
      <div>
        Rating : 7.1/10
      </div>
    </mat-card>
  </mat-card-actions>
</mat-card>